{% extends 'base.html' %} {% block content %} {% for info in question %}
{{info}}
<br />
{{info.id}}
<br />
{{info.assessment}}
<br />
{{info.questionTitle}}
<br />
{{info.information}} {% endfor %}
<br />
<br />
<br />
<br />
<br />
Here we will try to access the question we have used {% endblock content %}

<script>

  const help = {
    "id" : 1,
    "options" : {"option1" : "This is my first option", "option2": "This is my second Option", "option3": "This is my third option"},
    "correctOption": "option1",
    "Weightage": 10,
  }
  {% comment %} we have to figure out a way to handle the JSON we would be trying to access {% endcomment %}
</script>
