{% extends 'base.html' %} {% block content %}

<h3>Here all the questions and their options would be displayed</h3>
{% for obj in newObj %} <br />
{{obj.assessment}} <br />
{{obj.questionTitle}} <br />
<br />
<br />
{% for opt in options %}
<p>{{opt.optionStatement}}</p>
{% endfor %}
<a href="/questionView/{{obj.id}}/">
  <button>Edit</button>
</a>
<button>Delete</button>
<br />
<hr />
<br />

{% endfor %} Add More questions

<form action="" method="POST">
  {% csrf_token %}
  <label for="question">Add question Statement</label>
  <input type="text" name="questionTitle" />
  <br />
  <label for="marks">Allot Marks</label>
  <input type="number" name="mark" />
  <button>Submit</button>
</form>
{% endblock content %}
